.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#AllStatesTable {
  overflow: auto;
  overflow-y: auto;
  display: block;
  /* table-layout: auto; */
  max-height: 30em;
  position: relative;
  }

  #outbreak_map_gif {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
  margin: 20px auto;
}


  /* .table-fixed tbody > tr > th {
    position: sticky;
    left: 0;
    background: white;
  } */
#AllStatesTable thead > tr > th 
/* #AllStatesTable thead > tr,  */
/* #AllStatesTable thead  */
{
  position: sticky;
  top: 0;
  background: white;
  border-top: thick;
}
#AllStatesTable thead {
  position: sticky;
  top: 0;
  background: white;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
